:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --hero-color: #ffffff;
  --description-color: #757575;
  --first-logo-color: #2196f3;
  --second-logo-dark-color: #000000;
  --second-logo-light-color: #ffffff;
  --address-dark-color: #757575;
  --address-light-color: #ffffff;
  --background-dark-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.hero,
.footer {
  background: var(--background-dark-color);
}
/*========= COMPONENTS =========*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-firsthalf {
  color: var(--first-logo-color);
}

.logo-secondhalf-dark-theme {
  color: var(--second-logo-light-color);
}

.logo-secondhalf-light-theme {
  color: var(--second-logo-dark-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/*========= END COMPONENTS =========*/

/*========= HEADER =========*/

.nav-list-link,
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--title-color);
}

.header-contact-link {
  color: var(--address-dark-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.footer-address-link:hover,
.footer-address-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}
/*========= HERO =========*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.hero-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--address-light-color);
}
/*========= END HERO =========*/

/*========= ADVANTAGES =========*/
.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*========= END ADVANTAGES =========*/

/*========= ACTIVITY =========*/
/*========= END ACTIVITY =========*/

/*========= TEAM =========*/
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*========= END TEAM =========*/

/*========= FOOTER =========*/
.footer-address-link,
.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--address-light-color);
}
.footer-contact-link {
  color: var(--footer-contact-color);
}
/*========= END FOOTER =========*/

/*========= PORTFOLIO =========*/
.filter-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========= END PORTFOLIO =========*/
