:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-dark-color: #757575;
  --text-light-color: #ffffff;
  --logo-dark-color: #000000;
  --logo-light-color: #ffffff;
  --background-dark-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}
/*========= COMPONENTS =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.active {
  color: var(--accent-color);
}

.logo-light-theme {
  color: var(--logo-dark-color);
}

.logo-dark-theme {
  color: var(--logo-light-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.hero,
.footer {
  background: var(--background-dark-color);
}

/*========= HEADER =========*/

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.logo {
  margin-right: 94px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link,
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--title-color);
}

.header-contact-link {
  color: var(--text-dark-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.footer-address-link:hover,
.footer-address-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/*========= HERO =========*/
.hero {
  padding: 200px;
  margin: 0 auto;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-light-color);
  padding-bottom: 30px;
}

.hero-button {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-light-color);
  background: var(--accent-color);
}

/*========= FEATURES =========*/

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-dark-color);
}

/*========= ACTIVITY =========*/

/*========= TEAM =========*/

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-dark-color);
}

/*========= FOOTER =========*/

.footer-address-link,
.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--text-light-color);
}
.footer-contact-link {
  color: var(--footer-contact-color);
}

/*========= PORTFOLIO =========*/

.filter-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color);
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-dark-color);
}
